article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 2cm .5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
html {
  font-size: 87.5%;
}
@media (min-width: 768px) {
  html {
    font-size: 125%;
  }
}
body {
  background-color: #fff;
  color: rgba(0,0,0,0.8);
  font-weight: 400;
  font-family: 'Lato', 'Lucida Grande', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Lato', 'Lucida Grande', sans-serif;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover {
  color: #2a6496;
  text-decoration: underline;
}
blockquote {
  font-style: italic;
  border-left: 2px solid #ccc;
  margin-left: 0;
  padding-left: 1.8em;
}
footer {
  border-top: 1px solid #c8c8c8;
  margin-top: 3em;
}
.blogPost {
  border-top: 1px solid #e1e1e1;
  margin-bottom: 4em;
}
.blogPost-published {
  text-align: center;
  font-size: 0.7em;
  color: rgba(89,89,89,0.8);
}
.blogPost-published-date {
  display: inline-block;
  background: #fff;
  position: relative;
  top: -0.75em;
  padding: 0 0.5em;
}
.blogPost-title {
  margin-top: 0.75em;
  margin-bottom: 1em;
  font-size: 2.5em;
  font-weight: 800;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .blogPost-title {
    font-size: 3em;
  }
}
.blogPost-title a {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}
.blogPost-title a:hover {
  color: rgba(0,0,0,0.8);
  text-decoration: underline;
}
.blogPost-body h2,
.blogPost-body h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
.blogPost-body > p {
  margin-bottom: 1.3636363636364em;
}
.blogPost-body code {
  font-size: 0.7em;
  white-space: pre;
}
.blogPost-body img {
  max-width: 100%;
}
.blogPost-body p > code {
  border-radius: 0;
  background-color: #f9f2f4;
  color: #c7254e;
  font-size: 70%;
  padding: 2px 4px;
}
.blogPost-body pre {
  background: none;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 1.3636363636364em;
  padding: 0;
}
.blogPost-body pre > code {
  background-color: #ffffff;
  border-left: 3em solid #f0f0f0;
  line-height: 1.5;
  padding-left: 1.5em;
}
.blogPost-body pre > code * {
  font-weight: normal !important;
}
.blogPost-body pre {
  position: relative;
  overflow-y: hidden;
}
.blogPost-body .line-numbers {
  color: #bebebe;
  font-size: 0.7em;
  line-height: 1.5;
  position: absolute;
  text-align: right;
  top: 0.5em;
  width: 2em;
}
.talk {
  margin-bottom: 2em;
}
.talk-video {
  position: relative;
  padding-bottom: 75%;
  width: 100%;
}
.talk-video > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.siteHeader-title {
  font-size: 2.5em;
  font-family: 'Lato', 'Lucida Grande', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.25em;
}
.siteHeader-title a {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}
.siteHeader-title a:hover {
  text-decoration: underline;
}
.siteNav {
  font-family: 'Lato', 'Lucida Grande', sans-serif;
  font-size: 0.85em;
  text-transform: uppercase;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.siteNav-link {
  text-decoration: none;
  color: rgba(89,89,89,0.8);
}
.siteNav-link:hover {
  text-decoration: underline;
  color: rgba(0,0,0,0.8);
}
.siteDescription {
  color: rgba(89,89,89,0.8);
  font-family: 'Lato', 'Lucida Grande', sans-serif;
  font-style: italic;
  font-size: 0.8em;
  margin-top: 2em;
  margin-bottom: 3em;
  text-align: center;
}
.horizontalNav {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}
.horizontalNav-item {
  display: inline;
  margin-right: 1em;
}
@media (min-width: 768px) {
  .horizontalNav-item {
    margin-right: 2em;
  }
}
.horizontalNav-item:last-child {
  margin-right: 0;
}
ul.pager {
  list-style-type: none;
  padding: 0.5em 0 0;
  margin: 0;
  border-top: 1px solid #e1e1e1;
  color: #428bca;
}
ul.pager:before,
ul.pager:after {
  content: " ";
  display: table;
}
ul.pager:after {
  clear: both;
}
ul.pager .disabled {
  visibility: hidden;
}
ul.pager a {
  text-decoration: none;
  color: rgba(89,89,89,0.8);
}
ul.pager a:hover {
  text-decoration: underline;
  color: rgba(51,51,51,0.8);
}
ul.pager li {
  float: left;
}
ul.pager li:last-child {
  float: right;
}
.container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 36em;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.contentSection {
  border-top: 1px solid #e1e1e1;
}
.contentSection-heading {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}
.comments-link {
  text-align: center;
  padding: 2em;
}
.comments-link a {
  color: rgba(128,128,128,0.8);
}
.comments-link a:hover {
  color: rgba(89,89,89,0.8);
}
.archives .recent-posts ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.archives .recent-posts li {
  border-bottom: 1px solid #e1e1e1;
  padding: 0.5em 0;
}
.archives .recent-posts li .date {
  font-size: 0.7em;
  color: rgba(128,128,128,0.8);
}
.archives .recent-posts a {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
  font-weight: 600;
}
.archives .recent-posts a:hover {
  color: rgba(0,0,0,0.8);
  text-decoration: underline;
}
.bodyCopy {
  font-family: 'palatino', Georgia, serif;
}
.footer-content {
  text-align: center;
  font-size: 0.7em;
  color: rgba(89,89,89,0.8);
  padding: 2em 0;
}
.footer-content a {
  text-decoration: none;
  color: #428bca;
}
.footer-content a:hover {
  color: rgba(0,0,0,0.8);
  text-decoration: underline;
}
