// @import "variables.less";
@import "bootstrap/mixins.less";

// Reset
@import "bootstrap/normalize.less";
@import "bootstrap/print.less";

@import "variables.less";
@import "base.less";
@import "blogPost.less";
@import "talk.less";
@import "siteHeader.less";
@import "horizontalNav.less";
@import "pagination.less";


// Mixins
.center() {
    margin-left: auto;
    margin-right: auto;
}

.container {
    .center();
    box-sizing: border-box;
    width: @page-width;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.contentSection {
    border-top: 1px solid @separator-color;
    &-heading {
        font-size: @fontSize-large;
        font-weight: 600;
        text-align: center;
    }
}



.hover-link(@color) {
    color: darken(@color, 15);
}


.comments-link {
    text-align: center;
    padding: 2em;
    a {
        color: @lighter-color;
        &:hover {
            .hover-link(@lighter-color);
        }
    }
}

.archives {
    .recent-posts {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        li {
            border-bottom: 1px solid @separator-color;
            padding: 0.5em 0;
            .date {
                font-size: @fontSize-smaller;
                color: @lighter-color;
            }
        }
        a {
            color: @base-color;
            text-decoration: none;
            font-weight: 600;
            &:hover {
                .hover-link(@base-color);
                text-decoration: underline;
            }
        }
    }
}

.bodyCopy {
    font-family: @body-font;
}

.footer-content {
    text-align: center;
    font-size: @fontSize-smaller;
    color: @light-color;
    padding: 2em 0;
    a {
        text-decoration: none;
        color: @link-color;
        &:hover {
            color: @base-color;
            text-decoration: underline;
        }
    }
}
