.siteHeader {
    margin-top: 2em;
    &-title {
        font-size: @fontSize-larger;
        font-family: @siteHeader-font;
        font-weight: 700;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        a {
            text-decoration: none;
            color: @base-color;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.siteNav {
    font-family: @siteHeader-font;
    font-size: @fontSize-small;
    text-transform: uppercase;
    border-top: 1px solid @separator-color;
    border-bottom: 1px solid @separator-color;
}

.siteNav-link {
    text-decoration: none;
    color: @light-color;
    &:hover {
        text-decoration: underline;
        color: @base-color;
    }
}

.socialLinks {
    padding-bottom: 0.5em;
}
